@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }

/*header*/
@font-face {
    font-family: header ;
    font-weight: bolder;
    src: url(./fonts/RobotoMono/static/RobotoMono-Bold.ttf);
}

/*subheader*/
@font-face {
    font-family: subheader ;
    font-weight: bold;
    src: url(./fonts/RobotoMono/static/RobotoMono-SemiBoldItalic.ttf);
}

/*subtitle*/
@font-face {
    font-family: subtitle ;
    src: url(./fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Medium.ttf);
}

/*custom color declarations*/
:root {
  --black: #262529 ;
  --white: #FAF9F7 ;
  --grey: #7D7777 ; 
  --greendark: #0F400B ; 
  --greenmid: #87C23D ; 
  --greenlight: #9AE4B3 ;
}


/*hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/*supposedly to make images not warp*/
* {padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------General Declarations---------*/
  html , body {
  margin: 0;
  padding: 0 ; 
  overflow-x: clip;
  background-color:var(--var(--white));
  }

  p {
  font-family: subtitle;
  font-size: 25px;
  outline-offset: 3px;
  outline-width: 3px;
  outline-color: var(--black);
  border: 3px solid var(--black);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  background-color: var(--white);
  }

  img , video {
  border-radius: 25px;
  }

  table {
  width: inherit;
  background: var(--white);
  padding: 0;
  }

  th {
  font-family: subheader;
  font-size: large;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
  height: 50px;
  }

  td {
  font-family: subtitle;
  font-size: medium;
  padding-left: 10px;
  width: wrap;
  }

  th , td {
  border: 3px solid var(--black);
  max-width: fit-content;
  }

/*---------containers, grids---------*/
  .flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  gap: 10px;
  }

  .flex-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
  }

  .grid-container {
  display: grid;
  }

  .divBlack {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  text-align: center;
  background-image: linear-gradient(to bottom , var(--black) , black) ; 
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  }

/*---------INTRODUCTION---------*/

  #divCartoon {
  width: 100;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  text-align: center;
  background-color: var(--var(--black));
  }

  #introPar {
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
  width: 100%;
  height: fit-content;
  }

  #imgIntroLid {
  position: absolute;
  z-index: 2 ; 
  top: 0 px; 
  max-width: 100% ;
  height: auto;
  border-radius: 0;
  }

  #imgIntroCartoon {
  max-width: 100% ;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 0 ; 
  background-color: var(--greendark);
  border-radius: 0;
  }

  .imgIntroBaby {
  width: 350px;
  height: auto;
  z-index: 2;
  background-color: var(--white);
  border-radius: 0;
  }

/*---------INFINITELY SCROLLING HORIZONTAL TEXT BAR---------*/

  .container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 2;
  }

  .horizontal-scrolling-items {
  display: flex;
  background-color: var(--black);
  }

  .horizontal-scrolling-items__item {
  white-space: nowrap;
  font-family: subtitle;
  font-size: 20px;
  animation-name: infiniteScroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: var(--white);
  padding: 0 5rem;
  }

/*---------Stats---------*/

  #imgAnatomy {
  width: 500px;
  height: auto;
  margin: 0 ; 
  }

  .tblHeader {
  border: 3px solid var(--black);
  background-color: var(--black);
  font-family: subheader;
  font-size: 50px;
  color: var(--white);
  text-align: center;
  width:inherit;
  padding: 0;
  }

  .footnote {
  font-family: subtitle;
  font-size: small;
  border: none;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  }

  #imgAnatomy {
  width: 500px;
  height: auto;
  margin: 0 ; 
  }

/*---------TRIVIA---------*/
  .divTriviaText {
  color: var(--white);
  text-align: center;
  font-family: subtitle;
  padding: 5px;
  }

  .divTriviaHeader {
  color: var(--white);
  text-align: center ;
  font-size: 40px ;
  font-family: header;
  }

/*---------PICTURE AND VIDEO COMPILATION---------*/
  #compilationHeader {
  font-family: header;
  font-size: 50px;
  color: var(--black);
  align-self: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 ; 
  text-decoration: underline;
  }

  #divCompilation {
  background-image: linear-gradient(to bottom , var(--greenlight) , var(--greenmid) , var(--greendark)) ; 
  padding-top: 30px;
  padding-bottom: 30px;
  }

  .imgPicture {
  padding-bottom: 10px;
  width: 350px ;
  height: 500px;
  object-fit: cover;
  }

  video {
  object-fit: cover ; 
  object-position: 0%;
  width: 500px ;
  height: 500px ;
  }

  .divPicture {
  display: flex;
  flex-direction: column-reverse;
  column-gap: 20px;
  align-items: center;
  font-family: subheader;
  font-size: 30px;
  }

  .divPicture1 {
  display: flex;
  flex-direction: column-reverse;
  column-gap: 20px;
  align-items: center;
  font-family: subheader;
  font-size: 30px;
  color: var(--white);
  }

/*---------Last footnote---------*/
  #footestnote {
    width: 100%;
    text-align: center;
    background-color: black;
    color: var(--white);
    font-family: subtitle;
    padding-top: 10px;
    padding-bottom: 10px ;
  }