@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }

/*header*/
@font-face {
    font-family: header ;
    font-weight: bolder;
    src: url(./fonts/RobotoMono/static/RobotoMono-Bold.ttf);
}

/*subheader*/
@font-face {
    font-family: subheader ;
    font-weight: bold;
    src: url(./fonts/RobotoMono/static/RobotoMono-SemiBoldItalic.ttf);
}

/*subtitle*/
@font-face {
    font-family: subtitle ;
    src: url(./fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Medium.ttf);
}

:root {
  --black: #262529 ;
  --white: #FAF9F7 ;
  --grey: #7D7777 ; 
  --greendark: #0F400B ; 
  --greenmid: #87C23D ; 
  --greenlight: #9AE4B3 ;
}


/*hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/*supposedly to make images not warp*/
* {padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body {
  margin: 0;
  padding: 0 ; 
  overflow-x: clip;
  background-color:var(--var(--white));
}

.divCartoon {
  position: static;
  width: 100;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  text-align: center;
  background-color: var(--var(--black));
}

.divBlack {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  text-align: center;
  background-color: var(--black);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.divPictureCompilation {
  background-color: var(--white);
  font-family: header ; 
  text-align: center ;
  font-size: 50px ;
  padding-top: 10px ;
  align-items: center;
  z-index: 2;
}

.divPicture {
  display: flex;
  flex-direction: column-reverse;
  column-gap: 20px;
  align-items: center;
  font-family: subheader;
  font-size: 30px;
  padding-bottom: 50px;
}

.imgPicture {
  padding-bottom: 10px;
  width: 350px ;
  height: auto;
}

.vid {

}

.divTriviaText {
  color: var(--white);
  text-align: center;
  font-family: subtitle;
  padding: 5px;
}

.divTriviaHeader {
  color: var(--white);
  text-align: center ;
  font-size: 40px ;
  font-family: header;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  align-items: center;
  gap: 10px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.footnote {
  font-family: subtitle;
  font-size: small;
  border: none;
  color: var(--black);
  background-color: var(--white);
}

.imgAnatomy {
  width: 500px;
  height: auto;
}

.imgIntroLid {
  position: absolute;
  z-index: 2 ; 
  top: 0 px; 
  max-width: 100% ;
  height: auto;
}

.imgIntroCartoon {
  max-width: 100% ;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 0 ; 
  background-color: #132411;
}

.imgIntroBaby {
  width: 350px;
  height: auto;
  border: 3px solid var(--black);
  z-index: 2;
  background-color: var(--white);
}

p {
  font-family: subtitle;
  font-size: 25px;
  outline-offset: 3px;
  outline-width: 3px;
  outline-color: var(--black);
  border: 3px solid var(--black);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  background-color: var(--white);
}

.tblHeader {
  border: 3px solid var(--black);
  background-color: var(--black);
  font-family: subheader;
  font-size: 50px;
  color: var(--white);
  text-align: center;
  width:inherit;

}

table {
  width: inherit;
  background: var(--white);
}

th {
  font-family: subheader;
  font-size: large;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
  height: 50px;
}

td {
  font-family: subtitle;
  font-size: medium;
  padding-left: 10px;
  width: wrap;
}

th , td {
  border: 3px solid var(--black);
  max-width: fit-content;
}

.grid-container {
  display: grid;
}

/*---------INFINITELY SCROLLING HORIZONTAL TEXT BAR---------*/

.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 2;
}

.horizontal-scrolling-items {
  display: flex;
  background-color: var(--black);
}

.horizontal-scrolling-items__item {
  white-space: nowrap;
  font-family: subtitle;
  font-size: 20px;
  animation-name: infiniteScroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: var(--white);
  padding: 0 5rem;
}

/*---------INFINITELY SCROLLING HORIZONTAL TEXT BAR ---------*/

